.notification {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    width: fit-content;
}

.notification-text {
    margin: 0 5px;
    line-height: 16px;
}

.closeIcon {
    cursor: pointer;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.warning {
    background-color: blue;
}

.info {
    background-color: orange;
}

.progressBar {
    height: 4px;
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    transition: width 2s;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .notification {
        padding: 8px;
        font-size: 1.5rem;
    }

    .progressBar {
        height: 2px;
    }
}