.notificationBlock {
    margin: 12px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    padding: 8px;
    width: 150px;
    cursor: pointer;
}

.block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    margin: 5px 0px;
}


.notificationContainer {
    position: fixed;
    display: flex;
    gap:10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .button {
        width: 45%;
        padding: 8px;
    }
}