.notificationBlock {
    margin: 12px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}
.button {
    padding: 20px;
    font-size: 18px;
    min-width: 200px;
    cursor: pointer;
}

.block {
    display: flex;
    align-items: center;
    width: 410px;
    flex-wrap: wrap;
    gap:10px;
}


.notificationContainer {
    position: fixed;
    display: flex;
}