input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

.animationBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.radioButton {
    width: 45%;
}

.radioButton > label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    cursor: pointer;
}

.radioArea {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    input[type=radio] {
        border: 0px;
        width: 20px;
        height: 20px;
    }

    .radioArea {
        gap: 10px;
    }
  }
